/* Game Container */

.game-board {
  user-select: none;
}

/* Neon Glow */

.neon-glow {
  box-shadow:
    0 0 10px rgba(0, 229, 255, 0.3),
    0 0 25px rgba(0, 229, 255, 0.2);
}

/* Floating Animation */

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

/* Glow Pulse */

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 8px rgba(0, 229, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 25px rgba(0, 229, 255, 0.45);
  }

  100% {
    box-shadow: 0 0 8px rgba(0, 229, 255, 0.2);
  }
}

.glow {
  animation: pulseGlow 2s infinite;
}